a, a:hover{
    text-decoration: none;
}

/*Main Menu CSS*/

.mainmenu ul li{
    position: relative;
    float: left;    
}

.mainmenu li a{
    width: 200px;
    height: 50px;
    background: gray;
    color: white;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.mainmenu ul li:hover> a{
    background: #ff4444;
    color: #f9f9f9;
}

.mainmenu li>ul{
    position: absolute;
    display: none;
}

.mainmenu li:hover>ul{
    display: block;
}

.mainmenu li>ul li{
    padding-top: 1px;
    width: 200px;
}

.mainmenu li>ul li>ul{
    left: 100%;
    top:0;
    padding-left: 1px;
}


/*End Main Menu*/