a, a:hover{
    text-decoration: none;
}

/*Main Menu CSS*/

.mainmenu ul li{
    float: left;
    padding-right: 1px;
    position: relative;
}

.mainmenu ul a{
    display: table-cell; 
    vertical-align: middle;
    width: 200px;
    height: 50px; 
    text-align: center;
    background: #69c;
    color: #fff;    
}

.mainmenu ul a:hover, .mainmenu li:hover > a{
    background: #09c;    
}

.mainmenu li>ul{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

.mainmenu li:hover>ul{
    display: block;
}

.mainmenu li>ul li{
    padding: 0; padding-top: 1px;
}

.mainmenu li>ul li>ul{
    left: 100%;
    top: 0;
    padding-left: 1px;
}

.mainmenu li>ul li>ul li{
    width: 200px;
 }

/*End Main Menu*/