a, a:hover{
    text-decoration: none;
}

/*Main Menu CSS*/

.mainmenu{
    background: #ff4444;
    min-height: 46px;
}
.mainmenu ul li{
    float: left;
    position: relative;
}
.mainmenu ul li a{
    display: block;
    padding: 15px ;
    color: #f9f9f9;
    
}
.mainmenu ul li a:hover{
    background: black;
    color:white;
}

.mainmenu ul li ul {
    position: absolute;
    left: -99999px;
    background: #ff4444;
}
.mainmenu ul li:hover ul {
    display: block;
    left: 0;   
}
.mainmenu ul li ul li {
    width: 250px;   
    border-bottom: 1px solid #f78787;   
    float: none;
}
.mainmenu ul li ul li a {
    display: block;
    padding: 10px 15px;
}
.mainmenu ul li ul li a:hover {
    background:black;
}

/*End Main Menu*/